ul {
    margin: 20px;
    padding: 20px;
}

body {
    background: url('../image/ElectiveMain.jpg') no-repeat center center fixed !important;
    background-size: cover !important;
}

:root {
    --pink-color: #be9a9a;
    --light-green: #5f746f;
    --dark--green: #2c3e42;
}

.framesignup {
    min-height: 570px;
    width: 530px;
    background: rgba(0, 0, 0, 0.8);
    background-size: cover;
    margin: 150px auto;
    border-top: solid 1px rgba(255, 255, 255, .5);
    border-radius: 5px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.nav1 {
    width: 100%;
    height: 100px;
    padding-top: 40px;
    opacity: 1;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.signup-active {
    padding-left: 10px;
    font-size: 18px;
    display: inline;
    text-align: left;
    text-transform: uppercase;
    padding-right: 10px;
    color: #ffffff;
}

.signup-active a {
    padding-bottom: 10px;
    color: #ffffff;
    text-decoration: none;
    border-bottom: solid 2px var(--dark--green);
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    cursor: pointer;
}

.errors {
    text-align: center;
    color: pink;
}

.text-error {
    height: 50px;
    color: pink;
}

li {
    list-style-type: none;
    text-align: center;
    line-height: 20px;
}

.form-signup {
    width: 530px;
    min-height: 570px;
    font-size: 16px;
    font-weight: 300;
    padding-left: 27px;
    padding-right: 17px;
    padding-top: 55px;
    -webkit-transition: opacity .5s ease, -webkit-transform .5s ease;
    transition: opacity .5s ease, transform .5s ease, -webkit-transform .5s ease;
}

.frame-end {
    margin-top: 105px;
    border-top: solid 1px rgba(255, 255, 255, .3);
    text-align: center;
}

.login {
    color: #dddfe6;
    font-size: 16px;
    text-decoration: none;
}

.form-signup input {
    color: #ffffff;
    font-size: 13px;
}

.form-styling {
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, .2);
}

.login {
    width: 30%;
}

.email {
    width: 65%;
    margin-left: 25px;
}

.password1, .password2 {
    width: 100%;
}

.part2 {
    width: 100%;
}

.first_name, .last_name, .gender, .form-styling-date {
    width: 45%;
}

.form-styling-part2, .form-styling-password, .form-styling-username, .form-styling-email {
    width: 100%;
}

label {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 15px;
    padding-bottom: 10px;
    color: rgba(255, 255, 255, .7);
    display: block;
}

.butn-signup {
    float: left;
    background-color: var(--dark--green);
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 20px;
    margin-top: -8px;
    color: #dddfe6;
    font-size: 18px;
    text-decoration: none;
}

.butn-animate {
    float: left;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding-top: 8px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 20px;
    margin-top: 23px;
    left: 0;
    top: 0;
    -webkit-transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s;
    transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s;
}

.butn-signup:hover {
    cursor: pointer;
    background-color: var(--pink-color);
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
}

.part1, .part2, .password {
    display: flex;
    justify-content: space-between;
}